:root {
    --dark:  rgb(28, 28, 28);
    --dark-alpha:  rgba(28, 28, 28, 0.4);
    --green: rgb(0,255,141);
    --green-alpha: rgba(65,184,131, 0.4);
    --dark-green: rgb(65,184,131);
    --green-gradient: linear-gradient(90deg, var(--green) 34%,  var(--dark-green) 100%);

    --font-small: 12px;
    --font-medium: 16px;
    --font-large: 20px;
    --font-extra-large: 24px;
}

button {
    font-family: 'Ubuntu', sans-serif;
}

article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 2px solid var(--dark-green);
    border-radius: 4px;
    padding: 24px;
    box-shadow: 0 4px 10px var(--green-alpha);
}

.font-weight-bold {
    font-weight: bold;
}

.d-block {
    display: block;
}